*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background:
  linear-gradient(
    to top left, 
    var(--clr-acc-dark), var(--clr-acc-light)
  );
}

:root {
--clr-acc-light: #F2AF29;
--clr-acc-dark: #AD343E;
--clr-light: #EBF5DF;
--clr-dark: #1C1C1C;

--ff-reg: 'Oswald', sans-serif;
--ff-title: 'Shrikhand', cursive;

--fw-light: 200;
--fw-reg: 400;
--fw-bold: 700;

--fs-title: 5rem;
--fs-large: 3rem;
--fs-h3: 1.25rem;
--fs-body: 1rem;

--bs-heavy: 
0.375em 0.375em 1em rgba(0,0,0,.35),
0.25em 0.25em 0.75em rgba(0,0,0,.25),
0.125em 0.125em 0.25em rgba(0,0,0,.15);

--bs-light: 
0.25em 0.25em 0.75em rgba(0,0,0,.25),
0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

  /* Typography */

h1, p, ul {
  font-family: var(--ff-reg);
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2 {
  font-weight: var(--fw-reg);
}

h2 {
  font-size: var(--fs-large);
}

h3 {
  font-size: var(--fs-h3);
}

.intro__title {
  line-height: 1em;
  margin: auto 0;
  color: var(--clr-dark);
  letter-spacing: .3em;
  font-size: 2.75vw;
  margin-left: 1em;
}

.intro__title-opening {
  line-height: 2.2em; 
  margin-left: 2em;
}

.intro__title-name {
  text-shadow: var(--bs-light);
  letter-spacing: .05em;
  line-height: .75em;
  margin-left: -.25em;
  color: var(--clr-light);
  font-family: var(--ff-title);
  opacity: .7;
}

.intro__title-first {
  font-size: 8vw;
}

.intro__title-last {
  font-size: 14vw;
  margin-left: 1.3em;
}

.intro__title-dev {
  margin-left: 8em;
}

.section__title {
  font-family: var(--ff-title);
  letter-spacing: 2px;
  color: var(--clr-light);
  opacity: .7;
  margin-left: 1em;
  text-shadow: var(--bs-light);
}

/* Body Styling */

.main {
  transition: margin-left .5s;
  margin-left: 275px;
}

.intro {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.section {

}

  /* Navigation */

.nav {
  background: var(--clr-dark);
  color: var(--clr-light);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  height: 100%;
  width: 280px;
  transition: all .5s ease-in-out;
  padding: 1.5em;
  overflow: hidden;
}

.nav__btn {
  padding: .5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  left: 220px;
  top: 2.25em;
  z-index: 1000;
  transition: left 1s;
}

.nav__hamburger {
  display: block;
  position: relative;
  opacity: .7;
}

.nav__hamburger,
.nav__hamburger::before,
.nav__hamburger::after {
  background: var(--clr-light);
  width: 2em;
  height: 2px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
  opacity: .7;
}

.nav__hamburger:hover,
.nav__hamburger:hover::before,
.nav__hamburger:hover::after {
  background: var(--clr-acc-light);
}
 
.nav__hamburger::before,
.nav__hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.nav__hamburger::before { top: 6px; }
.nav__hamburger::after { bottom: 6px; }

.nav__open .nav {
  transform: translateX(0);
}

.nav__open .nav__btn {
  position: fixed;
}

.nav__open .nav__hamburger {
  transform: rotate(.625turn);
}

.nav__open .nav__hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav__open .nav__hamburger::after {
  opacity: 0;
}

.nav__btn:focus {
  outline: none;
}

.nav__headshot {
  width: 170px;
  border-radius: 50%;
  box-shadow: var(--bs-heavy);
  opacity: 1;
  position: relative;
  transition: all .5s;
  transition-delay: .2s;
  margin: 0 auto; 
  display: flex;
}

.nav__list {
  font-size: var(--fs-body);
  position: relative;
  letter-spacing: 2px;
  opacity: 1;
  left: 0;
  transition: all 1s;
}

.nav__item {
  font-weight: var(--fw-light);
  opacity: .8;
}

.nav__social-list {
  margin-left: 0;
  transition: margin-left .5s;
  opacity: .8;
}

.nav__item-link {
  color: var(--clr-light);
  text-decoration: none;
}

.nav__item-link:hover,
.nav__item-link:focus {
  color: var(--clr-acc-light);
}

.nav__social-link {
  color: var(--clr-light); 
  font-size: var(--fs-h3);
}

.nav__social-item {
  margin-top: .5em;
}

.nav__social-link:hover,
.nav__social-link:focus {
  color: var(--clr-acc-light);
  opacity: .75;
}

.fa-linkedin,
.fa-twitter-square,
.fa-github-square,
.fa-codepen,
.fa-envelope-square,
.nav__item {
  padding-bottom: .6em;
}

/* Nav Closed */

.nav--toggle {
  width: 50px;
}

.nav__btn--toggle {
  left: 4px;
  transition: left .5s;
}

.main--toggle {
  margin-left: 50px;
}

.nav__list--toggle {
  opacity: 0;
  left: -200px;
}

.nav__headshot--toggle {
  width: 0;
  opacity: 0;
  transition: all .3s;
}

.nav__social-list--toggle {
  margin-left: -9px;
}

@media (max-width: 875px) {

}