*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background:
  linear-gradient(
    to top left, 
    var(--clr-acc-orange1), var(--clr-acc-orange2)
  );
}

:root {
--clr-acc-orange1: #F78764;
--clr-acc-orange2: #FCB07E;
--clr-acc-dark: #093A3E;
--clr-light: #EBF5DF;
--clr-dark: #1C1C1C;

--ff-reg: 'Oswald', sans-serif;
--ff-title: 'Shrikhand', cursive;

--fw-light: 200;
--fw-reg: 400;
--fw-bold: 700;

--fs-h1: 2.25rem;
--fs-h2: 2rem;
--fs-h3: 1.25rem;
--fs-body: 1rem;

--bs-heavy: 
0.375em 0.375em 1em rgba(0,0,0,.35),
0.25em 0.25em 0.75em rgba(0,0,0,.25),
0.125em 0.125em 0.25em rgba(0,0,0,.15);

--bs-light: 
0.25em 0.25em 0.75em rgba(0,0,0,.25),
0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

  /* Typography */

h1, p, ul {
  font-family: var(--ff-reg);
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-reg);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.intro__title {
  line-height: 1em;
  margin: auto 0;
  color: var(--clr-dark);
  letter-spacing: .3em;
  font-size: 2.75vw;
  margin-left: 1em;
}

.intro__title-opening {
  line-height: 2.2em; 
  margin-left: 2em;
}

.intro__title-name {
  text-shadow: var(--bs-light);
  letter-spacing: .05em;
  line-height: .75em;
  margin-left: -.25em;
  color: var(--clr-light);
  font-family: var(--ff-title);
}

.intro__title-first {
  font-size: 8vw;
  /* 3em */
}

.intro__title-last {
  font-size: 14vw;
  margin-left: 1.3em;
}

.intro__title-dev {
  margin-left: 8em;
}

  /* Navigation */

.nav {
  background: var(--clr-dark);
  color: var(--clr-light);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  height: 100%;
  width: 275px;
  padding: 1.5em;
  overflow-x: hidden;
}

.nav__close-btn:hover,
.nav__close-btn:focus {
  color: var(--clr-acc-orange2);
}

.nav__headshot {
  width: 170px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: var(--bs-heavy);
  display: flex;
}

.nav__list {
  font-size: var(--fs-body);
  letter-spacing: 2px;
}

.nav__item {
  font-weight: var(--fw-light);
}

.nav__social-list {
  display: flex;
  margin: 0 auto;
}

.nav__social-item {
  margin: 0 1em 1em;
}

.nav__item-link {
  color: var(--clr-light);
  text-decoration: none;
}

.nav__item-link:hover,
.nav__item-link:focus {
  color: var(--clr-acc-orange2);
}

.nav__social-link {
  color: var(--clr-light); 
  font-size: var(--fs-h3)
}

.nav__social-link:hover,
.nav__social-link:focus {
  color: var(--clr-acc-orange2);
  opacity: .75;
}

.fa-linkedin,
.fa-twitter-square,
.fa-github-square,
.fa-codepen,
.fa-envelope-square,
.nav__item {
  padding-bottom: .6em;
}

/* Nav Open */

.nav__close-btn {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  color: var(--clr-light);
  background: var(--clr-dark);
  text-decoration: none;
}

/* Nav Closed */



/* Body Styling */

.main {
  transition: margin-left .5s;
}

.intro {
  color: var(--clr-light);
  height: 100vh;
  margin-left: 275px;
  display: flex;
  justify-content: center;
}

